.App {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffffce;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #24bec1;
  border-radius: 5px;
  margin-bottom: 10px;
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #999;
}

.todo-item button {
  background-color: #ff4d4d;
  color: hsl(0, 48%, 45%);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}